<h1>Editing kp comment</h1>

<%= render "form", kp_comment: @kp_comment %>

<br>

<div>
  <%= link_to "Show this kp comment", @kp_comment %> |
  <%= link_to "Back to kp comments", kp_comments_path %>
</div>
