<a href="<%= kp_post_path(kp_post) %>">
  <div id="<%= dom_id kp_post %>">
    <div class="col-xl-3 col-lg-4 col-md-6">
      <div class="gallery-item h-100">
        <%= image_tag kp_post.kp_image, class: "img-fluid" %>
        <div class="gallery-links d-flex align-items-center justify-content-center">
          <i class="bi bi-arrows-angle-expand"></i>
        </div>
      </div>
    </div>
  </div>
</a>